package pages

import (
	"github.com/antonisgkamitsios/go-starter/views"
	"github.com/antonisgkamitsios/go-starter/views/layout"
)

templ Home(props map[string]any) {
	@layout.Base() {
		@views.RenderReact(props, "AnotherComponent")
		<br/>
		@views.RenderReact(props, "Counter")
		<div class="border border-red-200">
			this is a div
		</div>
		<div class="text-blue-600 border border-red-200">
			This is a test
		</div>
	}
}
